# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
SFMLApp/Debug/SFMLApp.log
SFMLApp/Debug/SFMLApp.tlog/CL.command.1.tlog
SFMLApp/Debug/SFMLApp.tlog/CL.read.1.tlog
SFMLApp/Debug/SFMLApp.tlog/CL.write.1.tlog
SFMLApp/Debug/SFMLApp.tlog/link.command.1.tlog
SFMLApp/Debug/SFMLApp.tlog/link.read.1.tlog
SFMLApp/Debug/SFMLApp.tlog/link.write.1.tlog
SFMLApp/Debug/SFMLApp.tlog/SFMLApp.lastbuildstate
SFMLApp/Debug/SFMLApp.tlog/unsuccessfulbuild
SFMLApp/Debug/vc142.idb
SFMLApp/Debug/vc142.pdb
SFMLApp/x64/Debug/game.obj.enc
SFMLApp/x64/Debug/SFMLApp.exe.recipe
SFMLApp/x64/Debug/SFMLApp.log
SFMLApp/x64/Debug/SFMLApp.tlog/CL.command.1.tlog
SFMLApp/x64/Debug/SFMLApp.tlog/CL.read.1.tlog
SFMLApp/x64/Debug/SFMLApp.tlog/CL.write.1.tlog
SFMLApp/x64/Debug/SFMLApp.tlog/link.command.1.tlog
SFMLApp/x64/Debug/SFMLApp.tlog/link.read.1.tlog
SFMLApp/x64/Debug/SFMLApp.tlog/link.write.1.tlog
SFMLApp/x64/Debug/SFMLApp.tlog/SFMLApp.lastbuildstate
SFMLApp/x64/Debug/vc142.idb
SFMLApp/x64/Release/SFMLApp.log
SFMLApp/x64/Release/SFMLApp.tlog/CL.command.1.tlog
SFMLApp/x64/Release/SFMLApp.tlog/CL.read.1.tlog
SFMLApp/x64/Release/SFMLApp.tlog/CL.write.1.tlog
SFMLApp/x64/Release/SFMLApp.tlog/link.command.1.tlog
SFMLApp/x64/Release/SFMLApp.tlog/link.read.1.tlog
SFMLApp/x64/Release/SFMLApp.tlog/link.write.1.tlog
SFMLApp/x64/Release/SFMLApp.tlog/SFMLApp.lastbuildstate
SFMLApp/x64/Release/SFMLApp.tlog/unsuccessfulbuild
SFMLApp/x64/Release/vc142.pdb
x64/Debug/SFMLApp.ilk
x64/Debug/SFMLApp.pdb
*.pdb
SFMLApp/x64/Debug/vc142.pdb
.vs/SFMLApp/v16/ipch/AutoPCH/3cc1ca583f31523a/GAME.ipch
.vs/SFMLApp/v16/Browse.VC.opendb
.vs/SFMLApp/v16/Browse.VC.db-wal
.vs/SFMLApp/v16/Browse.VC.db-shm
.vs/SFMLApp/v16/Browse.VC.db
.vs/SFMLApp/v16/.suo
SFMLApp/x64/Debug/vc142.pdb
*.pdb
SFMLApp/x64/Debug/vc142.pdb
